body {
    margin: 0;
    font-size: 16px;
    color: #0079c2;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: #0079c2 url(material_dots.jpg) center no-repeat fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
}

.logo img {
    padding: 10px 0;
    max-height: 64px;
}

.roadmap {
    font-family: 'Source Code Pro', monospace;
    margin: auto 0;
    color: #0079c2;
    font-size: 32px;
    font-weight: bold;
}

aside {
    position: absolute;
    padding: 10px;
    width: 180px;
    background-color: white;
    border-radius: 0 0 8px 0;
}

aside h3 {
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
}

aside a {
    color: #0079c2;
    text-decoration: none;
    transition: .1s linear;
}

aside a:hover {
    color: #28536e;
}

ol li {
    padding-bottom: 5px;
}

article {
    color: #0079c2;
    background-color: #fff;
    margin: 10px 10px 10px 210px;
    padding: 15px;
    border-radius: 8px;
}

.first {
    margin-block-start: 0;
}

section p {
    margin-bottom: 0;
    text-indent: 20px;
}

.highlight {
    margin: 0;
    font-weight: bold;
    color: #28536e
}

@media (max-width: 768px) {
    aside {
        height: auto;
        width: auto;
        position: relative;
        border-radius: 0;
    }
    article {
        margin: 10px;
        width: auto;
    }
}